services:
  api:
    build: .
    container_name: api-dev
    ports:
      - "3000:3000"
      - "9229:9229"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "echo 'Rodando testes...' && npm test && echo 'Testes OK, iniciando dev...' && npm run dev"

